body {
	font-family:"Berlin Sans FB",Arial,sans-serif;
	font-size:200%;
	color:black;
	margin-left:200px;
	margin-top:20px;
}
#gameDiv {
	height: 480px;
	width:640px;
	position: absolute;
	margin: -240px 0px -200px -320px;
	top:50%;
	left:50%;
	border:2px solid black;
}
#canvasDiv {
	border: 0px solid;
	background: lightgreen;
}
#buttonDiv {
	border: 0px solid;
	background: skyblue;
}